.div1{
    overflow: hidden;
    text-wrap: ;
   display: inline-block;
    height: 100px;
    width: 180px;
    background-color: rgb(107, 107, 106);
}
.div2{
    border-right: solid 3px;
    width: 800px;
    height: 500px;
    background-color: antiquewhite;
}

.div3{
    
    overflow: auto;
    height: 60px;
    border-top:solid 3px  ;
    border-bottom:solid 3px  ;
}
.ss{
    margin-top: 5px;
}